html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Liberation Serif", Georgia, serif;
  margin: 0;
  min-height: 100vh;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 3rem auto 120px;
  grid-template-areas:
    "h h h h h h h h h h h h h h h h"
    ". m m m m m m m m m m m m m m ."
    "f f f f f f f f f f f f f f f f"
}

header {
  background-color: #adff2f;
  width: 100%;
  height: 3rem;
  position: fixed;
  grid-area: h;
  z-index: 99;
}

.navbar-nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.logo {
  position: absolute;
  height: 3rem;
  margin-left: 10px;
}

.nav-item:first-child {
  visibility: hidden;
}

.nav-item {
  width: 200px;
}

.nav-item:hover {
  background-color: #ad0f20;
}

.nav-link {
  display: inline-block;
  width: 100%;
  max-height: 3rem;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.nav-link:hover {
  color: #000;
}

main {
  /* background-color: aquamarine; */
  grid-area: m;
}

.category {
  text-align: center;
}

.goods-container {
  margin: 0;
  min-height: 10rem;
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
}

.card {
  padding: 0.5rem;
  position: relative;
}

.card-img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.goods-title {
  text-align: center;
}

.card-title {
  text-align: center;
}

.card-title-link {
  text-decoration: none;
  color: #000;
}

.card-title-link:visited {
  color: #000;
}

.card-title-link:hover {
  cursor: pointer;
  color: #4c1e87;
}

.card:hover {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.card-body {
  padding-bottom: 1rem;
}

.card-buy {
  display: block;
  position: absolute;
  margin-bottom: 5px;
  margin-right: 5px;
  bottom: 0;
  right: 0;
  font-size: 1.2rem;
  width: 30%;
  height: 10%;
  border-radius: 50px;
  background-color: aquamarine;
}

.card-price {
  font-size: 1.1rem;
}

.item-price {
  display: inline-block;
  margin-top: 0;
  font-weight: 600;
}

.item-old-price {
  display: inline-block;
  margin-top: 0;
  font-size: 0.9rem;
  text-decoration: line-through;
}

.author>p {
  margin: 0;
  height: min-content;
  line-height: 60px;
  text-align: center;
}

.soc-link img {
  width: 48px;
}

.soc-block {
  width: max-content;
  margin: 0 auto;
}

footer {
  background-color: pink;
  grid-area: f;
}

@media (max-width:1000px) {
  .header {
    height: 2.5rem;
  }

  .navbar-nav {
    display: none;
  }

  .nav-item {
    visibility: hidden;
  }

  .logo {
    position: static;
    display: block;
    margin: 0 auto;
  }

  .goods-container {
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width:700px) {
  .goods-container {
    grid-template-columns: 1fr;
  }

  header {
    height: 2.5rem;
  }

  .logo {
    height: 2.5rem;
  }

  .card-img {
    width: 50%;
  }
}